[Unit]
Description=A bandaid fix for SMOD resources
ConditionPathExists=!%h/.local/share/smod

[Service]
Type=oneshot
ExecStart=/usr/bin/ln -s /usr/share/smod "${XDG_DATA_HOME:-$HOME/.local/share}/smod"

[Install]
WantedBy=default.target
